registry=http://registry.npm.taobao.org/
disturl=https://npm.taobao.org/mirrors/node
electron_mirror=https://npm.taobao.org/mirrors/electron/
--download.mirrorOptions.mirror=https://npm.taobao.org/mirrors/electron/
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron-builder-binaries/